@model IEnumerable<EscolaProway.Models.Aluno>

@{
    ViewData["Title"] = "ListAluno";
}

<h1>ListAluno</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.Especialidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAluno">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAluno">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAluno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
